<% include ../partials/header %>

<div class="container">

  <div class="row login-form-box">
    <% if(error.length > 0){ %>
      <div class="alert alert-danger"><%= error %></div>
    <%}%>

    <form action="/login" method="POST">

      <div class="form-group">
          <input type="text" class="form-control" name="username" value="" placeholder="Username">
      </div>

      <div class="form-group">
          <input type="password" class="form-control" name="password" value="" placeholder="Password">
      </div>

      <div class="form-group">
          <input type="submit" class="btn btn-lg btn-primary btn-block" name="" value="Login">
      </div>

    </form>
  </div>

</div>
