<% include ../partials/header %>


<div class="row login-headline-row">
    <p>Log in to redeem your rewards!</p>
</div>

<div class="row login-form-row form-box">
  <!-- Flash Display -->
  <% if(error.length > 0){ %>
    <div class="alert alert-danger"><%= error %></div>
  <%}%>

  <form action="/login" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="username" value="" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" value="" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="submit" class="form-btn" name="" value="Login">
    </div>
  </form>

  <p><a href='/signup'>New to TAP Rewards? Sign up for Free.</a></p>
  <p>Forgot your password?</p>
</div>


<% include ../partials/footer %>