<footer>
  <!-- <div class="container"> -->
    <div class="row">
      <div class="product-info">
        <div class="footer-col1">
          <ul>
            <li>Tap Card Program</li>
            <li>Trip Planner</li>
            <li>Maps & Timetables</li>
            <li>Fares</li>
          </ul>
        </div>
        <div class="footer-col2">
          <ul>
            <li>About Tap Rewards</li>
            <li>FAQs</li>
            <li>Legal</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="footer-col3">
          <ul>
            <li>Contact Us</li>
            <li>Support</li>
            <li>Follow:</li>
              <ul class="footer-social-icons-row">
                <li><i class="fab fa-facebook fa-2x social-icons"></i></li>
                <li><i class="fab fa-twitter-square fa-2x social-icons"></i></li>
                <li><i class="fab fa-instagram fa-2x social-icons"></i></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="team-info">
        <p>&copy; 2017 <a href="http://codingforproduct.com/" target="_blank"><span class="text-dim">Coding for Product</span></a></p>
        <p>For Demo Purposes Only</p>
        <p>Team: Tinuola Awopetu, Carolina Bravo, Lisa Luther, Cindy Wang</p>
        <a href="https://github.com/CodingForProduct/tap_rewards"><i class="fab fa-github fa-2x"></i></a>
      </div>
    </div>
  <!-- </div> -->
</footer>