    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand nav-text-logo" href="/">TAP REWARDS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><i class="fas fa-user-plus nav-icon"></i>Sign Up</a></li>
            <li><a href="/login"><i class="fas fa-sign-in-alt nav-icon"></i>Login</a></li>
            <!-- <li><a href="/">Logout</a></li> -->
          </ul>
        </div>
    </nav>
