<% include partials/header %>

<div class="container">
  <div class="row jumbotron">
    <h1>Tap Rewards Landing Page</h1>
    <p><a href="/login">Login</a></p>
    <p><a href="/dashboard">Dashboard</a></p>
  </div>
</div>
