<% include partials/header %>


  <div class="row">
    <div class="jumbotron hero">
      <h1>Tap Rewards</h1>
      <p>Start Riding, Start Earning</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 front-cta">
      <h2>Ride Metro. <span class="block2">Get Rewarded.</span></h2>
    </div>
  </div>
  <div class="row front-container">
    <div class="col-md-6 col-sm-6 col-xs-12 front-container-box box1">
      <h3>Get Set Up</h3>
      <p>The flimsier the product, the higher the price knowledge is profit you can't make a deal if you're dead nothing is more important than your health...except for your money...</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 front-container-box box2">
      <i class="fas fa-id-card fa-10x"></i>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 front-container-box box3">
      <h3>Ride Metro</h3>
      <p>War is good for business exploitation begins at home ask not what you can do for your profits, but what your profits can do for you never spend more for an acquisition than you have to...</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 front-container-box box4">
        <i class="fas fa-train fa-10x"></i>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 front-container-box box5">
        <h3>Redeem Rewards</h3>
        <p>The flimsier the product, the higher the price knowledge is profit you can't make a deal if you're dead nothing is more important than your health...except for your money...</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 front-container-box box6">
        <i class="fas fa-smile fa-10x"></i>
    </div>
  </div>


<% include partials/footer %>